.main {
	.heroSection {
		padding-top: 150px;
		padding-bottom: 120px;
		background-image: url(/img/earth.png);
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;

		@media (max-width: 1023px) {
			padding-bottom: 64px;
		}

		@media (max-width: 767px) {
			background-size: auto;
		}

		.heroWrapper {
			.heroContent {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media (max-width: 1023px) {
					padding: 0 24px;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				h2 {
					color: #fff;
					text-align: center;
					font-family: Unbounded;
					font-size: 50px;
					font-style: normal;
					font-weight: 800;
					line-height: normal;
					padding-bottom: 28px;

					@media (max-width: 1023px) {
						font-size: 30px;
					}

					@media (max-width: 767px) {
						font-size: 22px;
					}
				}

				ul {
					display: flex;
					flex-direction: column;
					gap: 12px;
					li {
						display: flex;
						align-items: center;
						gap: 12px;
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;

						@media (max-width: 1023px) {
							font-size: 16px;
						}

						@media (max-width: 767px) {
							font-size: 14px;
							align-items: start;
						}

						span {
							max-width: 810px;

							@media (max-width: 1023px) {
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}

	.studyingSection {
		padding-bottom: 120px;

		@media (max-width: 1023px) {
			padding-bottom: 64px;
		}

		.studyingWrapper {
			max-width: 1180px;
			margin: 0 auto;
			.studyingContent {
				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				h2 {
					color: #ffe34b;
					text-align: center;
					font-feature-settings: 'liga' off, 'clig' off;
					font-family: Unbounded;
					font-size: 40px;
					font-style: normal;
					font-weight: 500;
					line-height: 130%; /* 52px */
					letter-spacing: -0.16px;
					padding-bottom: 60px;

					@media (max-width: 1023px) {
						font-size: 30px;
						padding-bottom: 24px;
					}

					@media (max-width: 767px) {
						font-size: 22px;
					}
				}
				.topBlock {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-radius: 20px;
					background: linear-gradient(
						180deg,
						rgba(255, 255, 255, 0.05) 0%,
						rgba(255, 255, 255, 0) 100%
					);
					box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.15),
						0px -2px 40px 0px rgba(255, 227, 75, 0.15),
						0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
					padding: 30px 60px;

					@media (max-width: 1023px) {
						flex-direction: column;
						align-items: start;
						padding: 14px 12px;
					}

					.leftItem {
						max-width: 460px;

						@media (max-width: 1023px) {
							max-width: 100%;
						}
					}

					.studyingIcon {
						border-radius: 12px;
						background: var(
							--container,
							linear-gradient(
								180deg,
								rgba(9, 10, 22, 0.6) 0%,
								rgba(12, 14, 37, 0.6) 100%
							)
						);

						/* yellow */
						box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
							0px -2px 40px 0px rgba(255, 227, 75, 0.15),
							0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
						padding: 11px;
						width: max-content;
						margin-bottom: 24px;
					}

					.middleTxt {
						display: flex;
						flex-direction: column;
						gap: 12px;
						padding-bottom: 12px;

						p {
							color: #ececec;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 24px */

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}

						span {
							color: var(--grey, #9db2ce);
							font-family: 'Noto Sans';
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;

							@media (max-width: 767px) {
								font-size: 12px;
							}
						}
					}

					.prices {
						display: flex;
						flex-direction: column;
						gap: 12px;
						h3 {
							color: #ececec;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 24px */
						}

						p {
							color: #ececec;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%;
							display: flex;
							align-items: center;
							gap: 6px;

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}
					}

					.rightItem {
						display: flex;
						justify-content: flex-end;
						width: 100%;

						@media (max-width: 1023px) {
							justify-content: center;
						}

						.chartBlockWrapper {
							position: relative;
							width: 100%;
							max-width: 571px;
							height: 362px;
							display: flex;
							justify-content: center;
							align-items: center;

							img {
								width: 100%;
							}
						}

						.bybitPriceBlock {
							position: absolute;
							left: -20px;
							bottom: -5px;
							background: rgba(9, 10, 22, 0.85);
							border-radius: 12px;
							box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
							padding: 14px 26px;
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 5px;
							min-width: 170px;

							@media (max-width: 767px) {
								padding: 10px;
								min-width: auto;
								left: 5px;
								bottom: 2px;

								svg {
									max-width: 60px;
								}
							}
						}

						.binancePriceBlock {
							position: absolute;
							right: 4px;
							top: 52px;
							background: rgba(9, 10, 22, 0.85);
							border-radius: 12px;
							box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
							padding: 18px 24px 14px 24px;
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 5px;
							min-width: 170px;

							@media (max-width: 767px) {
								padding: 10px;
								min-width: auto;
								right: -5px;
								top: 10px;
							}
						}

						@media (max-width: 767px) {
							span {
								svg {
									max-width: 99px;
								}
							}
						}

						.price {
							color: #ececec;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%;
							text-align: center;
							min-height: 24px;
							display: flex;
							justify-content: center;
							align-items: center;

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}

						.pair {
							color: var(--grey, #9db2ce);
							text-align: center;
							font-family: 'Noto Sans';
							font-size: 15px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
							letter-spacing: 1px;

							@media (max-width: 767px) {
								font-size: 12px;
							}
						}
					}
				}

				.bottomBlocks {
					display: flex;
					justify-content: space-between;
					padding-top: 45px;
					gap: 24px;

					@media (max-width: 1023px) {
						gap: 45px;
						flex-direction: column;
					}

					@media (max-width: 767px) {
						gap: 24px;
						padding-top: 24px;
					}

					.leftItem,
					.rightItem {
						width: 100%;
						border-radius: 20px;
						background: linear-gradient(
							180deg,
							rgba(255, 255, 255, 0.05) 0%,
							rgba(255, 255, 255, 0) 100%
						);
						box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
							0px -2px 40px 0px rgba(255, 227, 75, 0.15),
							0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
						padding: 30px 60px;
						svg {
							width: 28px;
							height: 28px;
						}

						@media (max-width: 1023px) {
							padding: 14px 12px;
							align-items: center;

							.imgWrapper {
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
							}

							img {
								max-height: 244px;
								max-width: 400px;
							}
						}

						.itemIcon {
							border-radius: 12px;
							background: var(
								--container,
								linear-gradient(
									180deg,
									rgba(9, 10, 22, 0.6) 0%,
									rgba(12, 14, 37, 0.6) 100%
								)
							);

							/* yellow */
							box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
								0px -2px 40px 0px rgba(255, 227, 75, 0.15),
								0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
							padding: 11px;
							width: max-content;
							margin-bottom: 16px;
						}

						h3 {
							color: #ececec;
							font-feature-settings: 'liga' off, 'clig' off;
							font-family: Unbounded;
							font-size: 32px;
							font-style: normal;
							font-weight: 500;
							line-height: 130%; /* 41.6px */
							letter-spacing: -0.16px;
							padding-bottom: 10px;

							@media (max-width: 1023px) {
								font-size: 24px;
							}

							@media (max-width: 767px) {
								font-size: 16px;
							}
						}

						p {
							color: #ececec;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 24px */
							padding-bottom: 10px;

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}

						img {
							margin-top: 20px;
							width: 100%;
						}
					}

					.leftItem {
						span {
							color: #ffe34b;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 24px */

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}
					}

					.rightItem {
						span {
							color: #ececec;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 700;
							line-height: 150%; /* 24px */

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}

						.itemIcon {
							border-radius: 12px;
							background: #ffe34b;

							/* yellow */
							box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
								0px -2px 40px 0px rgba(255, 227, 75, 0.15),
								0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
						}
					}
				}
			}
		}
	}

	.stepsSection {
		.stepsWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.stepsContent {
				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				.firstStep {
					padding-bottom: 120px;

					@media (max-width: 1023px) {
						padding-bottom: 64px;
					}
					.leftItem {
						img {
							width: 100%;
							max-width: 570px;
						}
					}

					.stepTitle {
						color: var(--Primary-color, #ffe34b);
						text-align: center;
						font-family: Unbounded;
						font-size: 40px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						padding-bottom: 60px;

						@media (max-width: 1023px) {
							font-size: 30px;
							padding-bottom: 24px;
						}

						@media (max-width: 767px) {
							font-size: 22px;
						}
					}

					.stepItems {
						display: flex;
						justify-content: space-between;

						@media (max-width: 1023px) {
							flex-direction: column;
							justify-content: center;
							align-items: center;
							gap: 24px;
						}

						.imgMobile {
							display: none;
							@media (max-width: 1023px) {
								display: block;
								width: 100%;
							}
						}

						.leftItem {
							.imgDesc {
								@media (max-width: 1023px) {
									display: none;
								}
							}
						}

						.rightItem {
							display: flex;
							gap: 20px;

							.lines {
								display: flex;
								align-items: center;
								flex-direction: column;
								gap: 16px;

								.topIcon,
								.middleIcon,
								.bottomIcon {
									padding: 11px;
									box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
										0px -2px 40px 0px rgba(255, 227, 75, 0.15),
										0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
									border-radius: 12px;

									@media (max-width: 767px) {
										padding: 10px;
									}
								}

								.topIcon {
									background: var(
										--container,
										linear-gradient(
											180deg,
											rgba(9, 10, 22, 0.6) 0%,
											rgba(12, 14, 37, 0.6) 100%
										)
									);
								}

								.middleIcon {
									background: linear-gradient(
										180deg,
										rgba(9, 10, 22, 0.6) 0%,
										rgba(69, 71, 90, 0.6) 100%
									);
								}

								.bottomIcon {
									background: linear-gradient(
										180deg,
										rgba(28, 30, 51, 0.6) 0%,
										rgba(171, 157, 84, 0.6) 100%
									);

									.longLine,
									.shortLine {
										img {
											width: 100%;
											max-width: 11px;
										}
									}
								}
							}

							.content {
								.topTxt {
									max-width: 480px;
									padding-bottom: 60px;

									@media (max-width: 1023px) {
										max-width: 100%;
									}

									@media (max-width: 767px) {
										padding-bottom: 24px;
									}

									.topContent {
										display: flex;
										flex-direction: column;
										gap: 8px;
										padding-bottom: 20px;

										@media (max-width: 767px) {
											gap: 5px;
											padding-bottom: 8px;
										}

										p {
											color: #ececec;
											font-family: 'Noto Sans';
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: 150%; /* 24px */

											@media (max-width: 767px) {
												font-size: 14px;
											}
										}
									}

									.links {
										display: flex;
										flex-direction: column;
										gap: 12px;

										@media (max-width: 767px) {
											gap: 5px;
										}

										a {
											color: #ffe34b;
											font-family: Unbounded;
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: 150%; /* 24px */

											@media (max-width: 767px) {
												font-size: 14px;
											}

											&:hover {
												text-decoration-line: underline;
												text-decoration-style: solid;
												text-decoration-skip-ink: none;
												text-decoration-thickness: auto;
												text-underline-offset: auto;
												text-underline-position: from-font;
											}
										}

										span {
											color: var(--grey, #9db2ce);
											font-family: Unbounded;
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: 150%;

											@media (max-width: 767px) {
												font-size: 14px;
											}
										}
									}
								}

								.middleTxt {
									max-width: 480px;
									padding-bottom: 60px;

									@media (max-width: 1023px) {
										max-width: 100%;
									}

									p {
										color: #ececec;
										font-family: 'Noto Sans';
										font-size: 16px;
										font-style: normal;
										font-weight: 700;
										line-height: 150%; /* 24px */
										padding-bottom: 20px;

										@media (max-width: 767px) {
											font-size: 14px;
										}
									}

									.middleBlock {
										border-radius: 10px;
										background: var(
											--card,
											linear-gradient(
												270deg,
												rgba(9, 10, 22, 0.6) 49.91%,
												rgba(232, 226, 201, 0.07) 159.89%
											)
										);
										box-shadow: 0px 4px 12px 0px rgba(255, 243, 176, 0.12);
										backdrop-filter: blur(2px);
										padding: 14px 12px;
										display: flex;
										flex-direction: column;
										gap: 12px;

										span {
											color: #fff;
											font-family: Unbounded;
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;

											@media (max-width: 767px) {
												font-size: 14px;
											}
										}
									}
								}

								.bottomTxt {
									display: flex;
									flex-direction: column;
									gap: 8px;
									max-width: 480px;

									@media (max-width: 1023px) {
										max-width: 100%;
									}

									p {
										color: #ececec;
										font-family: 'Noto Sans';
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%; /* 24px */

										@media (max-width: 767px) {
											font-size: 14px;
										}

										span {
											color: var(--grey, #9db2ce);
											font-family: 'Noto Sans';
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: 150%;

											@media (max-width: 767px) {
												font-size: 14px;
											}
										}
									}
								}
							}
						}
					}
				}

				.secondStep {
					margin-bottom: 120px;

					@media (max-width: 1023px) {
						margin-bottom: 64px;
					}

					.stepTitle {
						color: var(--Primary-color, #ffe34b);
						text-align: center;
						font-family: Unbounded;
						font-size: 40px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						padding-bottom: 60px;

						@media (max-width: 1023px) {
							font-size: 30px;
							padding-bottom: 24px;
						}

						@media (max-width: 767px) {
							font-size: 22px;
						}
					}

					.stepSubtitle {
						display: flex;
						flex-direction: column;
						gap: 12px;
						padding-bottom: 60px;

						@media (max-width: 1023px) {
							padding-bottom: 24px;
						}

						p {
							color: #fff;
							font-family: Unbounded;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;

							@media (max-width: 767px) {
								font-size: 14px;
							}

							a {
								opacity: 0.8;
								color: #ffe34b;
								font-family: Unbounded;
								font-size: 16px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;

								@media (max-width: 767px) {
									font-size: 14px;
								}

								&:hover {
									text-decoration-line: underline;
									text-decoration-style: solid;
									text-decoration-skip-ink: none;
									text-decoration-thickness: auto;
									text-underline-offset: auto;
									text-underline-position: from-font;
								}
							}

							span {
								opacity: 0.8;
								color: var(--grey, #9db2ce);
								font-family: Unbounded;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;

								@media (max-width: 767px) {
									font-size: 14px;
								}
							}
						}
					}

					.rightItem {
						img:nth-child(1) {
							@media (max-width: 1023px) {
								display: none;
							}
						}

						img:nth-child(2) {
							display: none;
							@media (max-width: 1023px) {
								display: block;
							}
						}
					}

					.stepItems {
						display: flex;
						justify-content: space-between;

						@media (max-width: 1023px) {
							flex-direction: column;
							justify-content: center;
							align-items: center;
							gap: 24px;
						}

						.rightItem {
							img {
								max-width: 644px;
								width: 100%;
							}
						}
						.leftItem {
							display: flex;
							gap: 20px;

							.lines {
								display: flex;
								flex-direction: column;
								align-items: center;
								gap: 16px;
								.topIcon,
								.middleIcon,
								.bottomIcon {
									padding: 11px;
									box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
										0px -2px 40px 0px rgba(255, 227, 75, 0.15),
										0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
									border-radius: 12px;
									width: max-content;

									@media (max-width: 767px) {
										padding: 10px;
									}
								}

								.topIcon {
									background: linear-gradient(180deg, #1c1e33 0%, #ffe34b 100%);
									padding-bottom: 9px;
								}

								.middleIcon {
									background: linear-gradient(180deg, #d5cd9d 0%, #ffe34b 100%);
									padding-bottom: 7px;
								}

								.bottomIcon {
									background: #ffe34b;
								}

								svg {
									color: #000;
								}
							}

							.content {
								max-width: 406px;

								@media (max-width: 1023px) {
									max-width: 100%;
								}

								.topTxt {
									margin-bottom: 60px;

									.topContent {
										display: flex;
										flex-direction: column;
										gap: 8px;
										padding-bottom: 20px;

										p {
											color: #ececec;
											font-family: 'Noto Sans';
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: 150%; /* 24px */

											@media (max-width: 767px) {
												font-size: 14px;
											}
										}
									}

									.topBlock {
										border-radius: 10px;
										background: var(
											--card,
											linear-gradient(
												270deg,
												rgba(9, 10, 22, 0.6) 49.91%,
												rgba(232, 226, 201, 0.07) 159.89%
											)
										);
										box-shadow: 0px 4px 12px 0px rgba(255, 243, 176, 0.12);
										backdrop-filter: blur(2px);
										padding: 14px 12px;
										color: #ececec;
										font-family: Unbounded;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%; /* 24px */

										@media (max-width: 767px) {
											font-size: 14px;
										}
									}
								}

								.middleTxt {
									display: flex;
									flex-direction: column;
									gap: 8px;
									margin-bottom: 60px;
									p {
										color: #ececec;
										font-family: 'Noto Sans';
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%; /* 24px */

										@media (max-width: 767px) {
											font-size: 14px;
										}
									}

									.middleBlock {
										margin-top: 12px;
										padding: 14px 12px;
										border-radius: 10px;
										background: var(
											--card,
											linear-gradient(
												270deg,
												rgba(9, 10, 22, 0.6) 49.91%,
												rgba(232, 226, 201, 0.07) 159.89%
											)
										);
										box-shadow: 0px 4px 12px 0px rgba(255, 243, 176, 0.12);
										backdrop-filter: blur(2px);
										display: flex;
										flex-direction: column;
										gap: 12px;
										color: #ececec;
										font-family: Unbounded;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%; /* 24px */

										@media (max-width: 767px) {
											font-size: 14px;
										}
									}
								}

								.bottomBlock {
									border-radius: 20px;
									background: linear-gradient(
										180deg,
										rgba(255, 255, 255, 0.05) 0%,
										rgba(255, 255, 255, 0) 100%
									);
									box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
										0px -2px 40px 0px rgba(255, 227, 75, 0.15),
										0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
									padding: 20px 30px;
									display: flex;
									flex-direction: column;
									gap: 8px;

									p {
										color: #ececec;
										font-family: 'Noto Sans';
										font-size: 16px;
										font-style: normal;
										font-weight: 700;
										line-height: 150%; /* 24px */

										@media (max-width: 767px) {
											font-size: 14px;
										}
									}

									.goldTxt {
										color: #ffe34b;
										font-family: 'Noto Sans';
										font-size: 16px;
										font-style: normal;
										font-weight: 700;
										line-height: 150%; /* 24px */

										@media (max-width: 767px) {
											font-size: 14px;
										}
									}

									span {
										color: var(--grey, #9db2ce);
										font-family: 'Noto Sans';
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;

										@media (max-width: 767px) {
											font-size: 12px;
										}
									}
								}
							}
						}
					}
				}

				.finalTxt {
					margin-bottom: 56px;
					border-radius: 20px;
					background: linear-gradient(
						180deg,
						rgba(255, 255, 255, 0.05) 0%,
						rgba(255, 255, 255, 0) 100%
					);
					box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.15),
						0px -2px 40px 0px rgba(255, 227, 75, 0.15),
						0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
					padding: 30px 60px;
					display: flex;
					flex-direction: column;
					gap: 12px;

					@media (max-width: 1023px) {
						margin: 0;
						padding: 14px 12px;
					}

					p {
						color: #ececec;
						font-family: 'Noto Sans';
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 150%; /* 27px */

						@media (max-width: 767px) {
							font-size: 14px;
						}

						@media (max-width: 1023px) {
							font-size: 16px;
						}
					}

					.goldTxt {
						color: #ffe34b;
						font-family: 'Noto Sans';
						font-size: 18px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%; /* 27px */

						@media (max-width: 1023px) {
							font-size: 16px;
						}

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}

					.boldTxt {
						color: #ececec;
						font-family: Unbounded;
						font-size: 18px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%; /* 27px */

						@media (max-width: 1023px) {
							font-size: 16px;
						}

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
