.mainLayout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.mainContent {
	flex: 1;
	background: url('/mainBg.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 72px; // Отступ для фиксированного header

	@media (max-width: 767px) {
		padding-top: 84px;
	}

	&.freeScreenBg {
		background: url('/freeBg.png') no-repeat center center;
		background-size: cover;
		background-attachment: fixed;
	}

	&.noBgMobile {
		@media (max-width: 767px) {
			background: none !important;
		}
	}
}
