.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabsWrapper {
	display: flex;
	flex-direction: column;
	gap: 22px;
	width: 100%;

	.tab {
		display: flex;
		flex-direction: column;
		gap: 12px;

		p {
			color: #fff;
			font-family: Unbounded;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 22px; /* 137.5% */
			letter-spacing: -0.4px;
		}
	}
}

.wrapper {
	width: 100%;
}

.freeXaut,
.freePaxg {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.gradientLine {
		background: linear-gradient(
			90deg,
			rgba(225, 220, 195, 0.1) 0%,
			#e1dcc3 50%,
			rgba(239, 233, 207, 0.1) 97.12%
		);
		width: 100%;
		height: 1px;
	}

	.topTxtBlock {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 24px 0;
		padding-bottom: 0;
		h2 {
			color: #fff;
			text-align: center;
			font-family: Unbounded;
			font-size: 30px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}

		p {
			color: #fff;
			text-align: center;
			font-family: 'Noto Sans';
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
		}
	}

	.socialsBlock {
		.socialsHeader {
			display: flex;
			flex-direction: column;
			padding-bottom: 24px;
			gap: 6px;

			span {
				color: #fff;
				text-align: center;
				font-family: 'Noto Sans';
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
			}

			p {
				color: #fff;
				text-align: center;
				font-family: Unbounded;
				font-size: 30px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}

		.inputBlock {
			width: 100%;
		}

		.input {
			width: 100%;
			border-radius: 8px;
			border: 1px solid rgba(255, 255, 255, 0.35);
			background: rgba(13, 22, 35, 0.4);
			color: rgba(255, 255, 255, 0.7);
			font-family: 'Noto Sans';
			font-size: 14px;
			padding: 12px 16px;
		}

		.socialsContent {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.socialsLeft,
			.socialsRight {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 12px;
				width: 100%;

				p {
					display: flex;
					align-items: center;
					gap: 10px;

					.socialsIcon {
						border-radius: 10px;
						border: 0.5px solid var(--divider, rgba(225, 220, 195, 0.1));
						background: #0d1c2b;
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				button {
					border-radius: 16px;
					border: 1px solid #fff;
					color: #fff;
					text-align: center;
					text-shadow: 0 4px 15px rgba(10, 124, 255, 0.25);
					font-family: Unbounded;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 140%; /* 19.6px */
					height: 48px;
					width: 100%;
					background: transparent;
				}
			}

			.socialsRight {
				p {
					justify-content: end;
				}
			}

			.socialsLine {
				background: linear-gradient(
					90deg,
					rgba(225, 220, 195, 0.1) 0%,
					#e1dcc3 50%,
					rgba(239, 233, 207, 0.1) 97.12%
				);
				height: 1px;
				width: 100%;
				max-width: 80px;
				transform: rotate(90deg);
			}
		}
	}
}

.backBtn {
	background: transparent;
	color: #ffe34b;
	text-align: center;
	text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
	display: flex;
	width: 100%;
	align-items: center;
	border: none;
	gap: 15px;
}

.btns1Step {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 20px;
}

.doneBtn {
	flex: 1;
	border-radius: 16px;
	border: 1px solid #ffe34b;
	background: transparent;
	padding: 16px;
	color: #fff;
	text-align: center;
	text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
}

.btns2Step {
	display: flex;
	width: 100%;
	gap: 20px;
}

.tokenBtn {
	border-radius: 16px;
	background: rgba(13, 22, 35, 0.4);
	border: none;
	color: var(--Primary-color, #ffe34b);
	text-align: center;
	text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	height: 52px; /* 19.6px */
}

.backBtn2 {
	border-radius: 16px;
	border: 1px solid #fff;
	background: transparent;
	width: 100%;
	color: #fff;
	text-align: center;
	text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
	height: 52px;
}

.socialBtn {
	background: #ffe34b;
	color: #181c23;
	border: none;
	border-radius: 8px;
	font-family: Unbounded;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 0;
	width: 100%;
	margin-top: 10px;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
}

.doneBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding-top: 22px;

	.doneIcon {
		border-radius: 10px;
		border: 1px solid var(--block-stoke, rgba(255, 255, 255, 0.4));
		background: rgba(9, 10, 22, 0.6);
		box-shadow: 0 4px 12px 0 rgba(255, 243, 176, 0.12);
		padding: 32px;
	}

	.doneTxt {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 360px;

		h2 {
			color: #fff;
			text-align: center;
			font-family: Unbounded;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 27px; /* 112.5% */
			letter-spacing: -0.4px;
		}
	}

	p {
		color: #fff;
		text-align: center;
		font-family: 'Noto Sans';
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: -0.4px;
	}
}
