.headerRow {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 18px;
}

.title {
	color: #fff;
	font-family: Unbounded;
	font-size: 26px;
	font-weight: 400;
	margin: 0;
}

.limitsWrapper {
	display: flex;
	gap: 12px;
	justify-content: space-between;
	align-items: flex-start;
}

.subtitle {
	color: #fff;
	font-family: 'Noto Sans';
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.4px;
	max-width: 70%;
}

.limitsBtn {
	color: #fff;
	text-align: center;
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Unbounded;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 14px 12px;
	align-items: center;
	border-radius: 6px;
	border: 1px solid var(--Primary-color, #ffe34b);
	background: #0d1c2b;
}

.confirmCard {
	.valuesWrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
		border-radius: 10px;
		border: 1px solid var(--divider, rgba(225, 220, 195, 0.1));
		background: var(
			--card,
			linear-gradient(
				270deg,
				rgba(9, 10, 22, 0.6) 49.91%,
				rgba(232, 226, 201, 0.07) 159.89%
			)
		);
		box-shadow: 0px 4px 12px 0px rgba(255, 243, 176, 0.12);
		backdrop-filter: blur(2px);
		padding: 12px;
		margin-bottom: 20px;

		.value {
			color: #fff;
			font-feature-settings: 'liga' off, 'clig' off;
			font-family: Unbounded;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 146.667% */
			letter-spacing: -0.4px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.priceWrapper {
	.priceLabel {
		color: #fff;
		font-family: Unbounded;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
		margin-bottom: 6px;
	}
	.price {
		display: flex;
		justify-content: space-between;
		border-radius: 10px;
		border: 1px solid var(--divider, rgba(225, 220, 195, 0.1));
		background: var(
			--card,
			linear-gradient(
				270deg,
				rgba(9, 10, 22, 0.6) 49.91%,
				rgba(232, 226, 201, 0.07) 159.89%
			)
		);
		box-shadow: 0px 4px 12px 0px rgba(255, 243, 176, 0.12);
		backdrop-filter: blur(2px);
		padding: 12px 14px;
		margin-bottom: 16px;

		span {
			color: #fff;
			font-feature-settings: 'liga' off, 'clig' off;
			font-family: Unbounded;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 146.667% */
			letter-spacing: -0.4px;
		}
	}
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 10px;
}

.inputLike {
	border-radius: 10px;
	border: 1px solid var(--divider, rgba(225, 220, 195, 0.1));
	background: var(
		--card,
		linear-gradient(
			270deg,
			rgba(9, 10, 22, 0.6) 49.91%,
			rgba(232, 226, 201, 0.07) 159.89%
		)
	);
	box-shadow: 0px 4px 12px 0px rgba(255, 243, 176, 0.12);
	backdrop-filter: blur(2px);
	padding: 14px 12px;
	margin-bottom: 20px;

	@media (max-width: 767px) {
		margin-bottom: 12px;
	}

	span {
		display: flex;
		gap: 8px;
		align-items: center;
		color: #fff;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: Unbounded;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 146.667% */
		letter-spacing: -0.4px;
	}
}

.label {
	color: #fff;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	padding-bottom: 10px;
}

.inputRow {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
}
.input {
	width: 100%;
	border-radius: 12px;
	border: 1px solid #ecebed;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 7px 64px 0px rgba(0, 0, 0, 0.07);
	padding: 16px 12px;
	color: #9db2ce;
	font-family: Unbounded;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
	&::placeholder {
		color: #9db2ce;
		font-family: Unbounded;
		font-size: 15px;
		font-weight: 300;
	}
}
.maxBtn {
	position: absolute;
	right: 12px;
	top: 9px;
	color: var(--Primary-color, #ffe34b);
	font-family: Unbounded;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.4px;
	padding: 6px 24px;
	border-radius: 6px;
	border: 1px solid var(--Primary-color, #ffe34b);
	background: #0d1c2b;
	cursor: pointer;
}
.switchBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 8px 0;
	span {
		display: inline-block;
		font-size: 22px;
		color: #ffe34b;
		background: #23243a;
		border-radius: 8px;
		padding: 4px 12px;
		border: 1px solid #ffe34b;
	}
}
.sellBtn,
.sendBtn {
	width: 100%;
	background: var(--Primary-color, #ffe34b);
	color: #000;
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 400;
	border-radius: 12px;
	border: none;
	padding: 14px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: 1px solid #fff;
}
.sendIcon {
	color: #000;
	transform: rotate(180deg);
}
.codeBtn {
	position: absolute;
	right: 12px;
	top: 10px;
	color: var(--Primary-color, #ffe34b);
	font-family: Unbounded;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.4px;
	padding: 6px 24px;
	border-radius: 6px;
	border: 1px solid var(--Primary-color, #ffe34b);
	background: #0d1c2b;
}
.networks {
	display: flex;
	justify-content: space-around;
	border-radius: 18px;
	background: #0d1c2b;
	padding: 8px 14px;
	margin-bottom: 20px;
	button {
		border: none;
		background: transparent;
		color: #fff;
		text-align: center;
		text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
		font-family: Unbounded;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 140%; /* 19.6px */
		width: 100%;
		padding: 6px 0;
		&.activeNetwork {
			border-radius: 10px;
			background: #ffe34b;
			color: #000;
			font-weight: 400;
		}
	}
}
.historyBtnWrapper {
	padding-top: 16px;

	.historyBtn {
		gap: 15px;
		display: flex;
		width: 100%;
		color: #ffe34b;
		text-align: center;
		text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
		font-family: Unbounded;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 19.6px */
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
		border: none;
		background: transparent;

		span {
			min-width: 160px;
		}
	}
}
.savedAddressBlock {
	background: rgba(255, 255, 255, 0.04);
	border-radius: 10px;
	padding: 12px 10px;
	margin-top: 12px;
}
.savedLabel {
	color: #9db2ce;
	font-family: Unbounded;
	font-size: 13px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.deleteBtn {
	color: #ffe34b;
	font-size: 13px;
	cursor: pointer;
	text-decoration: underline;
}
.savedAddress {
	color: #fff;
	font-family: Unbounded;
	font-size: 13px;
	word-break: break-all;
	margin-top: 2px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.tabs {
	margin-bottom: 16px;
}

.tabContent {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.gradientLine {
	background: linear-gradient(
		90deg,
		rgba(225, 220, 195, 0.1) 0%,
		#e1dcc3 50%,
		rgba(239, 233, 207, 0.1) 97.12%
	);
	height: 1px;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 24px;
}

.getHeader {
	.limitsWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 16px;

		p {
			color: #fff;
			font-family: 'Noto Sans';
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: -0.4px;
			margin: 0;
			max-width: 340px;

			span {
				font-weight: bold;
			}
		}

		button {
			border-radius: 6px;
			border: 1px solid var(--Primary-color, #ffe34b);
			background: #0d1c2b;
			padding: 12px;
			display: flex;
			flex-direction: column;
			gap: 8px;
			cursor: pointer;
			transition: all 0.2s ease;

			&:hover {
				background: rgba(255, 227, 75, 0.1);
			}

			span {
				color: #fff;
				text-align: center;
				font-feature-settings: 'liga' off, 'clig' off;
				font-family: Unbounded;
				font-size: 12px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
			}
		}
	}

	h2 {
		color: #fff;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: Unbounded;
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.4px;
		padding-bottom: 12px;
		margin: 0;
		max-width: 340px;
	}
}
