.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 0;
	background: #090f1a;

	.container {
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 30px;
		position: relative;

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	inset: 0;
		// 	border-radius: 10px;
		// 	padding: 1px;
		// 	background: linear-gradient(
		// 		90deg,
		// 		rgba(225, 220, 195, 0.1) 0%,
		// 		#e1dcc3 50%,
		// 		rgba(239, 233, 207, 0.1) 97.12%
		// 	);
		// 	-webkit-mask: linear-gradient(#fff 0 0) content-box,
		// 		linear-gradient(#fff 0 0);
		// 	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		// 	-webkit-mask-composite: xor;
		// 	mask-composite: exclude;
		// 	pointer-events: none;
		// 	z-index: 2;
		// }

		@media (max-width: 1023px) {
			padding: 12px 24px;
		}

		@media (max-width: 767px) {
			padding: 18px 12px;
		}
	}

	.logo {
		position: relative;
		z-index: 130;
		.logoLink {
			display: flex;
			align-items: center;
			gap: 10px;

			span {
				color: #fff;
				font-family: Unbounded;
				font-size: 28px;
				font-style: normal;
				font-weight: 400;
				line-height: 94%; /* 26.32px */
				letter-spacing: 1.4px;

				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}

	.navWrapper {
		width: 100%;
		max-width: 820px;

		@media (max-width: 1240px) {
			padding: 0 16px;
		}

		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.navLink {
				color: #fff;
				font-family: Unbounded;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				transition: all 0.3s ease;

				@media (max-width: 1240px) {
					font-size: 14px;
				}

				&:hover {
					color: #ffe34b;
				}
			}

			.active {
				color: #ffe34b;
				// font-weight: normal;
			}

			.tradeCommerceWrapper {
				border-radius: 18px;
				background: #0d1c2b;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 8px 14px;
				gap: 35px;
			}

			.dropdown {
				display: flex;
				align-items: center;
				gap: 4px;
				position: relative;

				.dropdownButton {
					background: none;
					border: none;
					color: #fff;
					font-family: Unbounded;
					font-size: 16px;
					font-style: normal;
					font-weight: 300;
					line-height: normal;
					transition: all 0.3s ease;
					cursor: pointer;
					display: flex;
					align-items: center;
					gap: 10px;
					padding: 0;
					padding: 6px 10px;

					@media (max-width: 1240px) {
						font-size: 12px;
					}

					&:hover {
						color: #ffe34b;
					}
				}

				.dropdownButton.active {
					color: #ffe34b;
					font-family: Unbounded;
					font-size: 16px;
					font-style: normal;
					font-weight: 300;
					line-height: normal;

					@media (max-width: 1240px) {
						font-size: 12px;
					}
				}

				.dropdownArrow {
					color: #fff;
					font-size: 10px;
					transition: all 0.3s ease;
				}

				.dropdownArrowUp {
					transform: rotate(180deg);
				}

				&:hover .dropdownArrow {
					color: #ffe34b;
				}

				.dropdownMenu {
					position: absolute;
					top: 100%;
					left: 0;
					background: #091323;
					border-radius: 12px;
					padding: 8px 0;
					min-width: 200px;
					z-index: 1000;
					margin-top: 8px;
					backdrop-filter: blur(10px);
					box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);

					&::before {
						content: '';
						position: absolute;
						inset: 0;
						border-radius: 10px;
						padding: 1px;
						background: linear-gradient(
							90deg,
							rgba(225, 220, 195, 0.1) 0%,
							#e1dcc3 50%,
							rgba(239, 233, 207, 0.1) 97.12%
						);
						-webkit-mask: linear-gradient(#fff 0 0) content-box,
							linear-gradient(#fff 0 0);
						mask: linear-gradient(#fff 0 0) content-box,
							linear-gradient(#fff 0 0);
						-webkit-mask-composite: xor;
						mask-composite: exclude;
						pointer-events: none;
						z-index: 2;
					}

					.dropdownItem {
						display: block;
						padding: 8px 16px;
						color: #fff;
						text-shadow: 0px 4px 15px rgba(10, 124, 255, 0.25);
						font-family: Unbounded;
						font-size: 14px;
						font-style: normal;
						font-weight: 300;
						line-height: 140%; /* 19.6px */
						text-decoration: none;
						transition: all 0.3s ease;
						white-space: nowrap;

						&:hover {
							background: rgba(255, 227, 75, 0.1);
							color: #ffe34b;
						}
					}
				}

				&.dropdownOpen {
					.dropdownButton {
						color: #ffe34b;
					}
					.dropdownArrow {
						color: #ffe34b;
					}
				}
			}
		}
	}

	.controlsWrapper {
		display: flex;
		align-items: center;
		gap: 10px;

		.profileBtn {
			position: relative;

			.profileButton {
				border-radius: 12px;
				position: relative;
				background: #161923;
				padding: 8px 16px;
				height: 48px;
				transition: all 0.3s ease;

				&::before {
					content: '';
					position: absolute;
					inset: 0;
					border-radius: 12px;
					padding: 1px;
					background: linear-gradient(
						to bottom,
						#ffe34b 0%,
						#ffe34b 30%,
						rgba(255, 227, 75, 0.6) 50%,
						rgba(255, 255, 255, 0.3) 70%,
						rgba(255, 255, 255, 0.12) 100%
					);
					mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
					-webkit-mask: linear-gradient(#fff 0 0) content-box,
						linear-gradient(#fff 0 0);
					mask-composite: exclude;
					-webkit-mask-composite: xor;
					pointer-events: none;
				}

				&:hover {
					background: rgba(255, 227, 75, 0.01);
				}
			}

			.profileIconContainer {
				position: relative;
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.profileIcon,
			.closeIcon {
				position: absolute;
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: opacity 0.2s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
				pointer-events: none;
			}

			.profileIcon {
				opacity: 1;
				transform: rotate(0deg) scale(1);
				z-index: 2;
			}

			.closeIcon {
				opacity: 0;
				transform: rotate(0deg) scale(0.7);
				z-index: 3;
			}

			.profileIconClose .profileIcon {
				opacity: 0;
				transform: rotate(-90deg) scale(0.7);
			}

			.profileIconClose .closeIcon {
				opacity: 1;
				transform: rotate(0deg) scale(1);
			}
		}
	}
}

.nav {
	display: flex;
	gap: 32px;

	@media (max-width: 1240px) {
		gap: 0;
	}
}

.navLink {
	color: #fff;
	font-family: 'Unbounded', sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	text-decoration: none;
	transition: color 0.2s;
	position: relative;
}

.active {
	color: #ffe34b;
	font-family: Unbounded;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;

	@media (max-width: 1240px) {
		font-size: 12px;
	}
}

.navLink:hover {
	color: #0d7bf9;
}

.activeLogo {
	display: flex;
	align-items: center;
	gap: 10px;

	span {
		color: #fff;
		font-family: Unbounded;
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: 94%; /* 26.32px */
		letter-spacing: 1.4px;

		@media (max-width: 767px) {
			display: none;
		}
	}
}

.burger {
	display: none;
	cursor: pointer;
	z-index: 120;
	@media (max-width: 1023px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.burgerLangContainer {
	display: none;
	align-items: center;
	gap: 12px;
	@media (max-width: 1023px) {
		display: flex;
		margin-left: auto;
	}

	.langSwitchBtn {
		position: relative;
		z-index: 130;
		border-radius: 16px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		background: radial-gradient(
				70.71% 70.71% at 50% 50%,
				rgba(255, 255, 255, 0.08) 0%,
				rgba(255, 255, 255, 0) 100%
			),
			rgba(255, 255, 255, 0);
		box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
			0px 0px 0px 1px rgba(255, 255, 255, 0.06) inset;
		padding: 16px 22px;
		color: #fff;
		font-family: Unbounded;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		min-width: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.mobileMenu {
	display: none;
	@media (max-width: 1023px) {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #09111e;
		z-index: 110;
		padding: 0 24px;
		padding-top: 95px;
		will-change: transform, opacity;
		transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
		transform: translateY(-100%);
		opacity: 0;
		pointer-events: none;

		@media (max-width: 767px) {
			padding-right: 0;
			padding-left: 0;
		}

		&.mobileMenuOpen {
			transform: translateY(0);
			opacity: 1;
			pointer-events: auto;
		}
		&.mobileMenuClose {
			transform: translateY(-100%);
			opacity: 0;
			pointer-events: none;
		}
		nav {
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
			width: 100%;
			align-items: center;
			justify-content: center;

			a {
				color: #fff;
				font-family: Unbounded;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				border-bottom: 1px solid #ffffff1d;
				width: 100%;
				text-align: center;
				padding-bottom: 20px;
			}
		}
	}
}

// Мобильные dropdown
.mobileDropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobileDropdownButton {
	background: none;
	border: none;
	color: #fff;
	font-family: Unbounded;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ffffff1d;
	width: 100%;
	justify-content: center;
	transition: color 0.3s ease;
}

.mobileDropdownArrow {
	color: #fff;
	font-size: 10px;
	transition: all 0.3s ease;
}

.mobileDropdownArrowUp {
	transform: rotate(180deg);
}

.mobileDropdownMenu {
	width: 100%;
	margin-top: 8px;
	overflow: hidden;
	animation: dropdownSlideIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.mobileDropdownItem {
	display: block;
	padding: 16px 20px;
	color: #fff;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-decoration: none;
	transition: all 0.3s ease;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileLangSwitcher {
	display: none;
	justify-content: center;

	@media (max-width: 360px) {
		display: flex;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dropdownSlideIn {
	from {
		opacity: 0;
		transform: translateY(-10px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes dropdownSlideOut {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	to {
		opacity: 0;
		transform: translateY(-10px) scale(0.95);
	}
}

@media (max-width: 1023px) {
	.navWrapper {
		display: none !important;
	}
}

.burgerAnimContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 48px;
	position: relative;
	cursor: pointer;
	transition: transform 0.3s;
	position: relative;
	z-index: 130;
	border-radius: 4px;
	border: 1px solid #fff;
	background: #161923;
	box-shadow: 0 1.661px 25px 0 rgba(214, 221, 230, 0.12);
}

.burgerIcon,
.closeIcon {
	position: absolute;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	pointer-events: none;
}

.burgerIcon {
	opacity: 1;
	transform: rotate(0deg) scale(1);
	z-index: 2;
}

.closeIcon {
	opacity: 0;
	transform: rotate(-90deg) scale(0.7);
	z-index: 3;
}

.burgerAnimOpen .burgerIcon {
	opacity: 0;
	transform: rotate(90deg) scale(0.7);
}
.burgerAnimOpen .closeIcon {
	opacity: 1;
	transform: rotate(0deg) scale(1);
}

.burgerAnimClose .burgerIcon {
	opacity: 1;
	transform: rotate(0deg) scale(1);
}
.burgerAnimClose .closeIcon {
	opacity: 0;
	transform: rotate(-90deg) scale(0.7);
}

.regBtn {
	color: #000;
	font-family: Unbounded;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	border-radius: 16px;
	background: linear-gradient(
			0deg,
			var(--Primary-color, #ffe34b) 0%,
			var(--Primary-color, #ffe34b) 100%
		),
		rgba(255, 255, 255, 0);
	box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12);
	width: 100%;
	height: 50px;
}

.loginBtn {
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: radial-gradient(
			70.71% 70.71% at 50% 50%,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		rgba(255, 255, 255, 0);
	box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
		0px 0px 18px 1px rgba(255, 227, 75, 0.24) inset;
	color: #fff;
	font-family: Unbounded;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	width: 100%;
	height: 50px;
	padding: 16px 22px;
}

.langSwitchBtn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;

	@media (max-width: 360px) {
		display: none;
	}
}

.arrow {
	display: inline-block;
	transition: transform 0.2s;
	font-size: 12px;
	margin-left: 4px;
}
.arrowOpen {
	transform: rotate(180deg);
}

.langDropdown {
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
		0px 0px 0px 1px rgba(255, 255, 255, 0.06) inset;
	padding: 16px 12px;
	min-width: 140px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 16px;
	animation: dropdownSlideIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
	transform-origin: top center;
	backdrop-filter: blur(10px); /* сам блюр */
	-webkit-backdrop-filter: blur(10px); /* поддержка для Safari */
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 1000;

	&.langDropdownClosing {
		animation: dropdownSlideOut 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
	}
}

.langDropdownItem {
	color: #fff;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	border: none;
	background: none;
	transition: color 0.3s ease;

	&:hover {
		color: #ffe34b;
	}
}
