.main {
	.heroSection {
		padding-top: 150px;
		padding-bottom: 120px;
		background-image: url(/img/earth.png);
		background-size: contain;
		background-position: center top;
		background-repeat: no-repeat;

		@media (max-width: 1023px) {
			padding-bottom: 64px;
		}

		@media (max-width: 767px) {
			background-size: auto;
		}

		.heroWrapper {
			max-width: 1440px;
			margin: 0 auto;
			.heroContent {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				h1 {
					color: #fff;
					text-align: center;
					font-family: Unbounded;
					font-size: 40px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;

					@media (max-width: 1023px) {
						font-size: 30px;
					}

					@media (max-width: 767px) {
						font-size: 22px;
					}
				}

				.bottomWrapper {
					background-image: url('img/logoTxt.svg');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					padding-top: 165px;

					@media (max-width: 1023px) {
						padding-top: 100px;
					}

					@media (max-width: 767px) {
						padding-top: 46px;
					}

					.bottomContent {
						max-width: 1180px;
						margin: 0 auto;
						display: flex;
						justify-content: space-between;
						align-items: center;

						@media (max-width: 1023px) {
							flex-direction: row-reverse;
							gap: 24px;
						}

						@media (max-width: 767px) {
							flex-direction: column-reverse;
						}

						.right {
							@media (max-width: 1023px) {
								img {
									max-width: 265px;
								}
							}

							@media (max-width: 767px) {
								img {
									max-width: 196px;
								}
							}
						}

						.left {
							display: flex;
							flex-direction: column;
							gap: 12px;
							max-width: 535px;

							@media (max-width: 767px) {
								align-items: center;
							}

							.icon {
								border-radius: 20px;
								border: 1px solid rgba(255, 255, 255, 0.25);
								background: radial-gradient(
										70.71% 70.71% at 50% 50%,
										rgba(255, 255, 255, 0.08) 0%,
										rgba(255, 255, 255, 0) 100%
									),
									rgba(255, 255, 255, 0);
								box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
									0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
								padding: 12px 22px;
								display: flex;
								align-items: center;
								gap: 10px;
								width: max-content;
								margin-bottom: 12px;

								span {
									color: #fff;
									text-align: right;
									font-family: Unbounded;
									font-size: 12px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}

							h2 {
								color: #fff;
								font-family: Unbounded;
								font-size: 40px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;

								@media (max-width: 1023px) {
									font-size: 30px;
								}

								@media (max-width: 767px) {
									font-size: 22px;
									text-align: center;
								}
							}

							p {
								color: #fff;
								font-family: 'Noto Sans';
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;

								@media (max-width: 767px) {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}

	.gradientSection {
		margin-bottom: 120px;
		background: linear-gradient(
			0deg,
			rgba(255, 227, 75, 0) 6.92%,
			rgba(255, 227, 75, 0.2) 45.67%,
			rgba(255, 227, 75, 0) 84.41%
		);
		padding: 100px 0;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		@media (max-width: 767px) {
			padding-top: 0;
			padding-bottom: 0;
		}

		.gradientWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.gradientContent {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width: 1023px) {
					flex-direction: column;
					gap: 24px;
				}

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				.left {
					width: 100%;
					h2 {
						font-family: Unbounded;
						font-size: 26px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;
						background: linear-gradient(
							90deg,
							#e8e2c9 55.87%,
							rgba(239, 233, 207, 0) 108.51%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						max-width: 480px;

						@media (max-width: 1023px) {
							font-size: 22px;
							max-width: 100%;
						}

						@media (max-width: 767px) {
							font-size: 17px;
						}
					}
				}

				.right {
					width: 100%;

					@media (max-width: 767px) {
						display: flex;
						align-items: center;
						flex-direction: column;
					}

					.icon {
						border-radius: 20px;
						border: 1px solid rgba(255, 255, 255, 0.25);
						background: radial-gradient(
								70.71% 70.71% at 50% 50%,
								rgba(255, 255, 255, 0.08) 0%,
								rgba(255, 255, 255, 0) 100%
							),
							rgba(255, 255, 255, 0);
						box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
							0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
						padding: 12px 22px;
						display: flex;
						align-items: center;
						gap: 10px;
						width: max-content;
						margin-bottom: 24px;

						span {
							color: #fff;
							text-align: right;
							font-family: Unbounded;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					p {
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						max-width: 673px;

						@media (max-width: 1023px) {
							max-width: 100%;
						}

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.innovationSection {
		margin-bottom: 120px;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		.innovationWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.innovationContent {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
					flex-direction: column-reverse;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				img {
					width: 100%;
				}

				.right {
					img:nth-child(2) {
						display: none;
					}

					@media (max-width: 1023px) {
						padding-bottom: 24px;

						img:nth-child(1) {
							display: none;
						}
						img:nth-child(2) {
							display: block;
						}
					}
				}

				.left {
					max-width: 588px;

					@media (max-width: 1023px) {
						max-width: 100%;
					}

					@media (max-width: 767px) {
						display: flex;
						align-items: center;
						flex-direction: column;
					}

					.icon {
						border-radius: 20px;
						border: 1px solid rgba(255, 255, 255, 0.25);
						background: radial-gradient(
								70.71% 70.71% at 50% 50%,
								rgba(255, 255, 255, 0.08) 0%,
								rgba(255, 255, 255, 0) 100%
							),
							rgba(255, 255, 255, 0);
						box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
							0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
						padding: 12px 22px;
						width: max-content;
						display: flex;
						gap: 10px;
						align-items: center;

						span {
							color: #fff;
							text-align: right;
							font-family: Unbounded;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					h2 {
						color: #fff;
						font-family: Unbounded;
						font-size: 40px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						padding: 24px 0;

						@media (max-width: 1023px) {
							font-size: 30px;
						}

						@media (max-width: 767px) {
							font-size: 22px;
							text-align: center;
						}
					}

					p {
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						padding-bottom: 24px;

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}

					.iconsBlocks {
						display: flex;
						flex-direction: column;
						gap: 24px;

						.iconBlock {
							display: flex;
							align-items: center;
							gap: 12px;

							.icon {
								margin: 0;
								padding: 11px;
								border-radius: 12px;
								background: var(
									--container,
									linear-gradient(
										180deg,
										rgba(9, 10, 22, 0.6) 0%,
										rgba(12, 14, 37, 0.6) 100%
									)
								);

								/* yellow */
								box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.3),
									0px -2px 40px 0px rgba(255, 227, 75, 0.15),
									0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
								display: block;
							}

							p {
								color: var(--white, #fff);
								font-family: 'Noto Sans';
								font-size: 18px;
								font-style: normal;
								font-weight: 500;
								line-height: 120%; /* 21.6px */
								letter-spacing: -0.108px;
								padding: 0;

								@media (max-width: 767px) {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}

	.marketingSection {
		margin-bottom: 120px;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		.marketingWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.marketingContent {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
					flex-direction: column;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				.left {
					img {
						width: 100%;
					}
				}

				.right {
					display: flex;
					flex-direction: column;
					gap: 24px;
					max-width: 588px;

					@media (max-width: 1023px) {
						max-width: 100%;
					}

					.icon {
						border-radius: 20px;
						border: 1px solid rgba(255, 255, 255, 0.25);
						background: radial-gradient(
								70.71% 70.71% at 50% 50%,
								rgba(255, 255, 255, 0.08) 0%,
								rgba(255, 255, 255, 0) 100%
							),
							rgba(255, 255, 255, 0);
						box-shadow: 0 4px 25px 0 rgba(255, 255, 255, 0.12),
							0 0 18px 1px rgba(255, 227, 75, 0.4) inset;
						padding: 12px 22px;
						width: max-content;
						gap: 10px;
						display: flex;
						align-items: center;

						span {
							color: #fff;
							text-align: right;
							font-family: Unbounded;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					h2 {
						color: #fff;
						font-family: Unbounded;
						font-size: 40px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 22px;
						}
					}

					p {
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.basicSection {
		margin-bottom: 120px;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		.basicWrapper {
			max-width: 1180px;
			margin: 0 auto;
			.basicContent {
				@media (max-width: 1240px) {
					margin: 0 15px;
				}

				@media (max-width: 1023px) {
					margin: 0 24px;
				}

				@media (max-width: 767px) {
					margin: 0 12px;
				}

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 30px;
				border-radius: 20px;
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0.05) 0%,
					rgba(255, 255, 255, 0) 100%
				);
				box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.15),
					0px -2px 40px 0px rgba(255, 227, 75, 0.15),
					0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
				padding: 30px 20px;

				@media (max-width: 767px) {
					padding: 16px 12px;
				}

				.icon {
					border-radius: 20px;
					border: 1px solid rgba(255, 255, 255, 0.25);
					background: radial-gradient(
							70.71% 70.71% at 50% 50%,
							rgba(255, 255, 255, 0.08) 0%,
							rgba(255, 255, 255, 0) 100%
						),
						rgba(255, 255, 255, 0);
					box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
						0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
					padding: 12px 22px;
					display: flex;
					align-items: center;
					gap: 10px;
					width: max-content;

					span {
						color: #fff;
						text-align: right;
						font-family: Unbounded;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				.blocksWrapper {
					display: flex;
					justify-content: space-between;
					gap: 24px;

					@media (max-width: 1023px) {
						flex-direction: column;
						align-items: center;

						img {
							transform: rotate(90deg);
						}
					}

					p {
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.leadershipSection {
		margin-bottom: 120px;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		.leadershipWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.leadershipContent {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
					flex-direction: column;

					img {
						max-width: 335px;
					}
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				.right {
					display: flex;
					flex-direction: column;
					gap: 24px;
					max-width: 600px;

					@media (max-width: 1023px) {
						max-width: 100%;
					}

					@media (max-width: 767px) {
						padding-top: 24px;
					}

					.icon {
						border-radius: 20px;
						border: 1px solid rgba(255, 255, 255, 0.25);
						background: radial-gradient(
								70.71% 70.71% at 50% 50%,
								rgba(255, 255, 255, 0.08) 0%,
								rgba(255, 255, 255, 0) 100%
							),
							rgba(255, 255, 255, 0);
						box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
							0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
						display: flex;
						align-items: center;
						gap: 10px;
						width: max-content;
						padding: 12px 22px;

						span {
							color: #fff;
							text-align: right;
							font-family: Unbounded;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					.middleTxt {
						display: flex;
						flex-direction: column;
						gap: 12px;
						h2 {
							color: #fff;
							font-family: Unbounded;
							font-size: 40px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;

							@media (max-width: 1023px) {
								font-size: 30px;
							}

							@media (max-width: 767px) {
								font-size: 22px;
							}
						}

						p {
							color: #fff;
							font-family: 'Noto Sans';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;

							@media (max-width: 767px) {
								font-size: 14px;
							}
						}
					}

					h3 {
						background: var(
							--text-gradient,
							linear-gradient(
								90deg,
								#e8e2c9 55.87%,
								rgba(239, 233, 207, 0) 108.51%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-family: Unbounded;
						font-size: 24px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 18px;
						}
					}
				}
			}
		}
	}

	.missionSection {
		margin-bottom: 120px;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		.missionWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.missionContent {
				@media (max-width: 1240px) {
					margin: 0 15px;
				}

				@media (max-width: 1023px) {
					margin: 0 24px;
				}

				@media (max-width: 767px) {
					margin: 0 12px;
				}

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 24px;
				border-radius: 20px;
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0.05) 0%,
					rgba(255, 255, 255, 0) 100%
				);
				box-shadow: 0px -2px 10px 0px rgba(255, 227, 75, 0.15),
					0px -2px 40px 0px rgba(255, 227, 75, 0.15),
					0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset;
				padding: 30px 20px;

				@media (max-width: 767px) {
					padding: 16px 12px;
				}

				.icon {
					border-radius: 20px;
					border: 1px solid rgba(255, 255, 255, 0.25);
					background: radial-gradient(
							70.71% 70.71% at 50% 50%,
							rgba(255, 255, 255, 0.08) 0%,
							rgba(255, 255, 255, 0) 100%
						),
						rgba(255, 255, 255, 0);
					box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
						0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
					padding: 12px 22px;
					display: flex;
					align-items: center;
					gap: 10px;
					width: max-content;

					span {
						color: #fff;
						text-align: right;
						font-family: Unbounded;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				p {
					color: #fff;
					text-align: center;
					font-family: Unbounded;
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;

					@media (max-width: 767px) {
						font-size: 18px;
					}
				}
			}
		}
	}

	.valueSection {
		margin-bottom: 120px;

		@media (max-width: 1240px) {
			margin-bottom: 64px;
		}

		@media (max-width: 1023x) {
			margin-bottom: 64px;
		}

		.valueWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.valueContent {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
					flex-direction: column-reverse;

					img {
						max-width: 588px;
						width: 100%;
					}
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				.left {
					display: flex;
					flex-direction: column;
					gap: 24px;
					max-width: 657px;

					@media (max-width: 1023px) {
						max-width: 100%;
						padding-top: 24px;
					}

					.icon {
						border-radius: 20px;
						border: 1px solid rgba(255, 255, 255, 0.25);
						background: radial-gradient(
								70.71% 70.71% at 50% 50%,
								rgba(255, 255, 255, 0.08) 0%,
								rgba(255, 255, 255, 0) 100%
							),
							rgba(255, 255, 255, 0);
						box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.12),
							0px 0px 18px 1px rgba(255, 227, 75, 0.4) inset;
						padding: 12px 22px;
						display: flex;
						align-items: center;
						gap: 10px;
						width: max-content;

						span {
							color: #fff;
							text-align: right;
							font-family: Unbounded;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					h2 {
						background: linear-gradient(
							90deg,
							#ffe34b 50%,
							rgba(239, 233, 207, 0) 97.12%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-family: Unbounded;
						font-size: 36px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 22px;
						}
					}

					p {
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 16px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.arrowSection {
		margin-bottom: 90px;

		@media (max-width: 1023px) {
			margin-bottom: 64px;
		}

		.arrowWrapper {
			max-width: 1250px;
			margin: 0 auto;

			.arrowBlock {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 24px;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
					flex-direction: column;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
					img {
						width: 100%;
					}
				}

				img {
					width: 100%;
				}
				.arrow {
					display: flex;
					flex-direction: column;
					gap: 12px;

					p {
						color: #fff;
						font-family: 'Noto Sans';
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						max-width: 486px;

						@media (max-width: 1023px) {
							max-width: 100%;
						}

						@media (max-width: 767px) {
							font-size: 14px;
						}
					}
				}

				h4 {
					font-family: Unbounded;
					font-size: 55px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					background: var(
						--text-gradient,
						linear-gradient(
							90deg,
							#e8e2c9 55.87%,
							rgba(239, 233, 207, 0) 108.51%
						)
					);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					max-width: 720px;
					margin: 0;

					@media (max-width: 1023px) {
						font-size: 45px;
						max-width: 100%;
					}

					@media (max-width: 767px) {
						font-size: 30px;
						text-align: center;
					}
				}
			}
		}
	}

	.directorsSection {
		margin-bottom: 60px;

		@media (max-width: 1023px) {
			margin-bottom: 0px;
		}

		.directorsWrapper {
			max-width: 1180px;
			margin: 0 auto;

			.directorsContent {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 14px;

				@media (max-width: 1240px) {
					padding: 0 15px;
				}

				@media (max-width: 1023px) {
					padding: 0 24px;
				}

				@media (max-width: 767px) {
					padding: 0 12px;
				}

				p {
					color: var(--grey, #9db2ce);
					text-align: center;
					font-family: Unbounded;
					font-size: 18px;
					font-style: normal;
					font-weight: 200;
					line-height: normal;

					@media (max-width: 767px) {
						font-size: 14px;
					}
				}

				span {
					color: var(--grey, #9db2ce);
					font-family: Unbounded;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;

					@media (max-width: 767px) {
						font-size: 14px;
					}
				}
			}
		}
	}
}
